.product-titles {
    background-color: #171717;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

    .container {
        ul {
            li {
                padding: 10px;

                a {
                    color: #fff;
                    padding: 20px 30px;
                    border: 1px solid #fff;
                    transition: all 0.4s;

                    &:hover {
                        color: #171717;
                        background-color: #fff;
                        padding: 24px 38px;

                    }
                }

            }
        }
    }
}

@media screen and (max-width: 760px) {
    .product-titles {
        .container {
            ul {
                li {
                    padding: 5px;

                    a {
                        padding: 8px 14px;
                        &:hover {
                            padding: 14px 26px;

                        }

                    }

                }
            }
        }
    }



}