header {
    .container {
        display: flex;

        .header-group {
            .header-items {
                background-color: #E5E5E5;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;

                span {
                    a {
                        text-decoration: none;
                        margin-right: 10px;
                        font-size: 15px;
                        color: #171717;

                    }
                }

                .header-social {
                    span {
                        a {
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }

    .navbar {
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .logo-image {
                width: 200px;
            }
        }

        .input-group {
            display: flex;

            input {
                border: none;
                border-bottom: 1px solid #171717;
                width: 100%;
                text-align: center;
                &:focus {
                    outline: none;
                }
            }




            button {
                border: none;
                background-color: transparent;
                padding: 5px 15px;

            }
        }
    }

    .product-titles {
        border-top: 1px solid #3232354b;
        border-bottom: 1px solid #3232354b;
        padding: 20px;

        .container {
            ul {

                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    list-style: none;

                    a {
                        margin: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:760px) {
    .navbar {
        .container {
            display: flex;
            flex-direction: column;

            .logo-image {

                max-width: 120px;
            }
        }
    }
}